/* fonts */
body, p, dd, dt, .footer, .page-wrapper, .nav { font-family:"PT Serif", Georgia, serif;box-sizing:border-box;}
h1, h2, h3, h4, h5, h6, .nav, .footer {font-family:"PT Sans", Tahoma, sans-serif;}
pre {font-family:courier;}

a {
    color:#e63a00;
    text-decoration:none;
    border-bottom:1px solid #dcdcdc;
}

body {
   margin:0;
   padding:0;
   background: #f3f2f2 url('https://beyondgrep.com/bg_tile.jpg');
}

.nav {
  display:flex;
  /* grid-gap: 10px;
   grid-template-columns: repeat(auto-fill, minmax(120px,1fr)); */
   color:#000;
   margin:0 auto;

}
.nav-item {
   text-align:center;padding:10px;margin:auto;
}

.nav-item:nth-child(2) pre {font-size:22px;}

.nav-item pre {margin:0;font-weight:bold;font-size:8px;line-height:initial;}
.nav-item a pre:hover {color:#ffcd54}

.top-nav {background-color:#e63a00;position: -webkit-sticky;
    position: sticky;vertical-align:middle;
    top:-1px;}
.sub-nav {background-color:#dcdcdc;position:-webkit-sticky;position:sticky;vertical-align:middle;top:35px;}

.nav-item a:hover {border-bottom:1px solid #ffcd54;color:#ffcd54;}
.nav-item a {color:#ffffff;border-bottom:none;font-size:16px;font-weight:600;}


.sub-nav .nav-item a {font-weight:300!important;color:#e63a00;font-size:14px;}
.sub-nav .nav-item a:hover {color:#fff;border-bottom:1px solid #e63a00;}
.sub-nav .nav-item {height:15px;line-height:15px;}
.nav-item.selected, .sub-nav .nav-item.selected {background-color:rgba(0,0,0,.3);}
.sub-nav .nav-item:hover {background-color:rgba(0,0,0,.3);}
.sub-nav .nav-item.selected a {color:#fff!important;}




.page-wrapper {margin:0 auto; }



.header {background-color:#a82a00;display:block;overflow:hidden;padding:1.5rem;}


.nav-ack {font-size:14px;color:#e63a00;}
.billhead {
    font-size:3em;
    color:#f7f7f7;
    font-weight:bold;
    float:left;
    width:35%;
}

.inside .billhead {font-size:1em;}

.billhead pre, .nav-ack pre {
    margin:0;
}

.footer {
   width:100%;
   background-color:#333;
   height:300px;
   padding:10px;
}



.digital-ocean-logo, .digital-ocean-logo:focus, .digital-ocean-logo:hover {
    color: #ffffff;
}

.footer ul {
    -webkit-column-count: 3;
    -ms-column-count: 4;
    -o-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 10px;
    -ms-column-gap: 10px;
    -o-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    list-style-type: none;
    margin: 1rem 0 0 0 ;
    padding: 0;
    width:60%;
    float:left;
}

.footer li {list-style:none;text-align:center;margin-bottom:1.5rem;}

.footer a, .footer .do a {color:#dcdcdc;text-align:left;text-decoration:none;border-bottom:1px solid rgba(255,255,255,.2);}
.footer a:hover, .footer .do a:hover   {color:#fff;border-bottom:1px solid rgba(255,255,255,.6);}
.footer .do img {max-width:120px;}
.footer .do {margin-top:1rem;float:right;opacity: 0.8;
    filter: alpha(opacity=80);}
.footer .do:hover {opacity: 1;
    filter: alpha(opacity=100);}

.billtext {width:65%;float:left;}
.billtext h1 {margin-top:0;font-size:45px;}
.billtext p {font-size:22px;line-height:30px;}

.inside .billtext {width:85%;}
.inside .billhead {width:15%;}
.inside .billtext h1 {font-size:22px;}
.inside .billtext p {font-size:14px;line-height:20px;}
.header.inside {padding:.75rem;}
.billtext h1, .billtext p {color:#f7f7f7;}

.security {background-color:#FFB43B;color:#CF3500;padding:10px 10px;margin:10px 0;}
.security p {margin:0;}
.spotlight {width:100%;text-align:center;margin:10px 0;}


.features {
   display:grid;
   grid-gap: 10px;
   grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
   color:#000;
   margin:10px auto;
}

.features a {border-bottom:none;}

.features h3 {margin-top:0;}

.feature-box {
   display:block;
   overflow:hidden;
   background-color:#ffffff;
}

.feature-content {text-align:center;padding:20px;}
.feature-cta {border:2px solid #e63a00;border-radius:2px;color:#e63a00;background-color:#ffffff;font-family:PT Sans;text-transform:uppercase;padding:5px;font-weight:800;}
.feature-cta:hover {background-color:#e63a00;color:#ffffff!important;}
.feature-cta a:hover {color:#ffffff;border-bottom:none;}




.flexbox-container{
  display: flex;
  width: 100%;
}

.sidebar{
  order: 1;
  flex: 1;
  border-right:1px solid #dcdcdc;
  flex-basis: auto;
}

.main{
  order: 1;
  flex: 10;
}

.box1, .box2 {
  min-height: 100%;
  padding: 1em;
}

@media (min-width:1024px) {
   .page-wrapper {max-width: 960px;}
}

@media (max-width:900px) {
  .billtext h1 {font-size:28px;}
  .billtext p {font-size:18px;}
  .billhead {font-size:2em;width:30%;}
}

@media (max-width:780px) {
  .inside .billhead {font-size:.75em;}
}

/* mobile layout */
@media (max-width: 640px){

  .page-wrapper {max-width: 480px;}
  .flexbox-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-orient: vertical;
    -webkit-orient: vertical;
    orient: vertical;
  }

  .box2{
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    flex:1;}
  .box1{
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    flex:1;
  }
  .nav {
   display:grid;
   grid-gap: 2px;
   grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
  }
  .header.inside {display:none;}
  .nav-item {margin:0;padding:0;}

  .billhead {font-size:1.5em;width:35%;}
  .do {width:100%;display:block;text-align:center;margin-bottom:1rem;}

  .footer ul {
    width:100%;

}
}

@media (max-width: 400px){
    .billhead {font-size:1em;width:35%;}
}

