/* fonts */
p, dd, dt { font-family:"PT Serif", Georgia, serif;}
h1, h2, h3, h4, h5, h6, .nav, .footer {font-family:"PT Sans", Tahoma, sans-serif;}
.footer {font-size:12px; text-align:center;}
pre {font-family:courier;}


/* Header */

body {
    margin: 0;
    padding: 0;
    background: #f3f2f2 url('./bg_tile.jpg');
}

.logo {
    font-family:courier;
    float:left;
    margin:0;
    display:inline;
    color:#fff;
    font-size:2.5em;
    font-weight:normal;
    margin: 0 10px;
    padding: 6px 0 0 0;
}

.logo a {
    text-decoration:none;
    color:#fff;
    border:none;
}
.logo a:hover {
    color:#f29c80;
    border:none;
    background:none;
}


/* nav  */

.nav {
    margin:auto;
    width:90%;
    background-color:#e63a00;
    overflow:hidden;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

.nav ul {
    font-size:.95em;
    list-style:none;
    padding:0;
    margin:0;
    float:right;
}

.nav li {
    margin: 0;
    float:left;
}

.nav li a {
    float:left;
    text-align:center;
    display:block;
    width:8em;
    border-left:1px solid #cf3500;
    padding:20px 0;
    text-decoration:none;
    color:#fff;
    border-bottom:none;
}

.nav li a:hover {
    background-color:#cf3500;
    border-bottom:none;
    text-decoration:none;
}


/*footer */
.footer {
    margin:auto;
    margin-bottom:0 !important;
    width:90%;
    background-color:#e2e2e2;
    overflow:hidden;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    color:#9e9e9e;
}

.footer a {
    color:#4f4f4f;
}



/* front page title content */
.billbox {
    margin:auto;
    width:90%;
    overflow:hidden;
    clear:both;
    padding:30px 0 0 0;
}

.billhead {
    font-size:3em;
    color:#828282;
    font-weight:bold;
    padding-left:30px;
    float:left;
}

.billhead pre {
    margin:auto .1em;
}


.billtext {
    overflow:hidden;
    padding:  20px 30px 0 30px;
}

.billtext h1 {
    margin:0;
}

h1 {
    font-size:2em;
}

h2 {
    margin-top:0;
    font-size:1.5em;
}

h3 {
    font-size:1em;
}

a {
    color:#e63a00;
    text-decoration:none;
    border-bottom:1px solid #dcdcdc;
}

a:hover {
    color:#cf3500;
    text-decoration:none;
    border-bottom:1px solid #cf3500;
    background:#EFCFC5;
}
/* main content area */

.content {
    margin:15px auto;
    width:90%;
    overflow:hidden;
    clear:both;
}

.feature-bullets {
    float:left;
    display:block;
    clear:both;
    width:65%;
    padding:10px;
    overflow:hidden;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fbfbfb url('./bg_tile_white.jpg');
}

.feature-install, .feature-testimonials {
    background: #fbfbfb url('./bg_tile_white.jpg');
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
    float:right;
    width:30%;
    padding:10px;
    margin-bottom:10px;
}

.feature-bullets dt {
    font-weight:bold;
    margin:0 0 0 0;
}

.feature-bullets dd {
    margin:0 0 14px 0px;
    padding-bottom:14px;
    border-bottom:1px solid #dcdcdc;
}

.feature-bullets dd:last-child {
    border-bottom:none;
}

.feature-bullets dt:before {
    display:block;
    float:left;
    margin-right:10px;
}

dt.fast:before {
    content:url('./lightning.png');
}

dt.pc:before {
    content:url('./pcwindows.png');
}

dt.search:before {
    content:url('./search.png');
}

dt.keystrokes:before {
    content:url('./keystrokes.png');
}

dt.open:before {
    content:url('./open.png');
}
